.App {
  text-align: center;

}



.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

.button {
  border-radius:8px;
  font-size:20px;
  background-color:orange;
  color:white;

}
.content {
  width:250px;
  height:250px;
  margin-top: 100px;
  background-color:green;
}
.content2 {
  width:250px;
  height:250px;
  margin-top: 100px;
  background-color:purple;
}

.green{
  background-color:green;
  color: white;
  font-weight:bold;
  font-size:60px;
}
input{
  display: flex;
  padding:10px;
  margin:10px 0;
  width:100%;
}
 button {
  width:100%;
  padding:10px;
  margin:0;
  box-sizing:border-box;
   font-weight:bold;
   background-color:coral
}
 #form{
    display: flex;
   flex-direction:column;
   width:100%;
   padding:10px;
  border:3px solid blue;
   height:30%;

 }
 .outSide{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
 }
 #spans{
     display: flex;
     justify-content: center;
     text-align: center;
 }